# Server configuration
PORT=3000
NODE_ENV=development
# CORS configuration
CORS_ORIGIN=*

# Stellar network
STELLAR_NETWORK=testnet
STELLAR_CONTRACT_ADDRESS=CD6OGC46OFCV52IJQKEDVKLX5ASA3ZMSTHAAZQIPDSJV6VZ3KUJDEP4D
